* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	color: white;
}

body, input, button, textarea{
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

#page-landing {
	background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
	text-align: center;
	min-height: 100vh;
}
